{% extends "orders/base.html" %}

{% block title %}
   Login 
{% endblock %}

{% block body %}
    {% if message %}
    <div>
        {{ message }}
    </div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="container">
        <div>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        </div>
        <div>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        </div>
        <div> 
        <button type="submit">Login</button>
        </div>
      </div>
    </form> 
    <form action="{% url 'register' %}" method="get">
      {% csrf_token %}
      <div class="container">
        <div> 
        <h4>No Account?</h4>
        <button type="submit">Register</button>
        </div> 
      </div>
    </form> 
{% endblock %}
